<div class="panel-header panel-header-lg" >
  <div class="header text-right">
  <button class="btn-link" (click)="goToTimeSeries(this.id, this.since_date, this.until_date);" (click)="selectLanguage()">
    {{'DASHBOARD.BUTTON_TIMESERIES' | translate}}
  </button>
  </div>
        <div class="card-header">
          <h4 class="card-title" data-background-color="white" (click)="selectLanguage()">
            {{'DASHBOARD.SCORESCHART' | translate}}</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="prueba">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title" (click)="selectLanguage()">{{'DASHBOARD.AVERAGECHART' | translate}}</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="lineChartExampleWithNumbersAndGrid">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title" (click)="selectLanguage()">{{'DASHBOARD.INTERVALCHART' | translate}}</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div *ngIf="chart">
                <canvas  id="barChartSimpleGradientsNumbers">{{chart}}</canvas>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i  class="now-ui-icons business_chart-bar-32"
                (click)='chartClicked(is_dynamic=true); changeIntervalGraph()'
                (click)="selectLanguage()"></i> {{'DASHBOARD.BUTTON_DYNAMIC' | translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title" (click)="selectLanguage()">{{'DASHBOARD.PIECHART' | translate}}</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="pieChart">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" (click)="selectLanguage()"> {{'DASHBOARD.TABLESCORES' | translate}}</h4>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table">
                  <thead class=" text-primary">
                    <th *ngFor="let column of headers_analysis">
                      {{column}}
                    </th>
                  </thead>
                  <tbody *ngFor="let row of table_score">
                    <td *ngFor="let col of header_analysis">
                      {{row[col]}}
                    </td>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title" (click)="selectLanguage()"> {{'DASHBOARD.TABLESTATISTICS' | translate}} </h4>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table">
                  <thead class=" text-primary">
                    <th *ngFor="let column of header_statistics">
                      {{column}}
                    </th>
                  </thead>
                  <tbody *ngFor="let row of table_statistics">
                    <td *ngFor="let col of header_statistics">
                      {{row[col]}}
                    </td>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container-fluid">
      <button class="btn-link" [routerLink]="['/examples/menu'] " (click)="selectLanguage()">
        {{'DASHBOARD.MENU' | translate}}</button>
    </div>
  </footer>
</div>
