<div class="panel-header panel-header-lg" >
  <div class="header text-right">
  <button class="btn-link" (click)="goToTimeSeries(this.id, this.since_date, this.until_date);">
    Acceder a las Series Temporales
  </button>
  </div>
        <div class="card-header">
          <h4 class="card-title" data-background-color="white">Analysis Score</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="prueba">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
</div>

<div class="main-content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Average for days</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="lineChartExampleWithNumbersAndGrid">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Interval Graph</h4>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <div *ngIf="chart">
                <canvas  id="barChartSimpleGradientsNumbers">{{chart}}</canvas>
              </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i  class="now-ui-icons business_chart-bar-32"  (click)='chartClicked(is_dynamic=true); changeIntervalGraph()'></i> Dynamic intervals
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h4 class="card-title">Sentinel trends</h4>
          <div class="card-body">
            <div class="chart-area">
              <div *ngIf="chart">
                <canvas  id="pieChart">{{chart}}</canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" > Analysis Score</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                  <thead class=" text-primary">
                    <th *ngFor="let column of headers">
                      {{column}}
                    </th>
                  </thead>
                  <tbody *ngFor="let row of table_score">
                    <td *ngFor="let col of headers">
                      {{row[col]}}
                    </td>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
