<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

      </div>
      <div class="content">
        <div class="space"></div>
        <div class="space-50"></div>
        <div class="container text-center">
            <div class="row">
                <div class="col">
                    <a [routerLink]="['/examples/landing']">
                        <img src="assets/img/landing.jpg" alt="Image" class="img-raised">
                    </a>
                    <a [routerLink]="['/examples/landing']" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
                </div>
                <div class="col">
                    <a [routerLink]="['/examples/profile']">
                        <img src="assets/img/profile.jpg" alt="Image" class="img-raised">
                    </a>
                    <a [routerLink]="['/examples/profile']" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
                </div>
            </div>
        </div>
      </div>
</div>
