<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="0" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo">Sentinel</h1>
              <h3>Analizador de sentimientos en textos</h3>
          </div>
          <h6 class="category category-absolute">Zoe Calvo</h6>
      </div>
  </div>
</div>

