<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="0" style="background-image: url('assets/img/header.jpg');">

    </div>
      <div class="container">
          <div class="content-center brand">
              <h1 class="h1-seo" >{{'HOME.TITLE' | translate}}</h1>
              <h3 >{{'HOME.SUBTITLE' | translate}}</h3>
          </div>
          <h6 class="category category-absolute" >{{'HOME.FOOTER' | translate}}</h6>
      </div>
  </div>
</div>

