<style>
  div { text-align: center;}
</style>
<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.jpg');">

      </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="title" ><h1>Sentinel</h1></div>

    <div class="section-full-page">
      <div class="container text-center">
        <div class="card-subtitle"><h4><b>¿Qué es?</b></h4></div>
        <h6><i>Imagina saber lo que la gente opina sobre una compañía o cómo afecta una noticia a una sociedad.</i></h6>
        <p>En la actualidad las redes sociales son un factor muy importante en la vida de las personas, todo el mundo tiene una opinión y la expresa sin tapujos en sus perfiles.
          Como entidad que puede verse afectada por estos comentarios, es su responsabilidad saber sacarles provecho y poder mejorar gracias a ellos.</p>
        <p>De esta idea nace Sentinel, el análisis de sentimientos es una práctica que se lleva a cabo para realizar informes y gráficos de cómo reacciona la gente a diferentes temas.
        Ya seas una empresa que quiere ver cómo ha sido recibido un producto nuevo en el mercado o qué piensa la gente sobre su compañía, o el gobierno si quiere realizar sondeos
        de cómo ha afectado una nueva medida en la sociedad Sentinel es su aplicación.</p>
        <p>Sentinel utiliza las aplicaciones Twitter e Instagram para buscar sobre los temas que le interesen y realizar el análisis.</p>
        <p> Estos resultados se le mostrarán en gráficos para que la experiencia sea más visual</p>
        <div class="card-subtitle"><h4><b>¿Cómo funciona?</b></h4></div>
        <p><b>1.</b> Regístrate en la aplicación.</p>
        <p><b>2.</b> Accede con tu cuenta.</p>
        <p><b>3.</b> Elige en que red social quieres buscar.</p>
        <p><b>4.</b> Introduce el identificador por el que quieres buscar.
                <p>Y si quieres puedes filtrar por fecha.</p>
        <p><b>5.</b> ¡Visualiza los gráficos con los resultados!</p>
      </div>
    </div>
  </div>
</div>
