<div class="page-header" filter-color="blue">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                  <br>
                  <br>
                  <br>
                    <div class="header header-primary text-center">
                      <h1>Crear cuenta</h1>
                    </div>
                    <div class="content">

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                          <input #name type="text" class="form-control" placeholder="Nombre..." (focus)="focus=true" (blur)="focus=false" >
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                          <input #surname type="text" class="form-control" placeholder="Apellido..." (focus)="focus=true" (blur)="focus=false" >
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                          <input #user type="text" class="form-control" placeholder="Nombre de usuario..." (focus)="focus=true" (blur)="focus=false" >
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                          <input #passwd type="password" placeholder="Contraseña..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>

                    </div>
                    <div class="footer text-center">
                        <button class="btn btn-primary btn-round btn-lg btn-block" (click)="add(name.value, surname.value, user.value, passwd.value); name.value=''; surname.value='';
      user.value=''; passwd.value=''">Registrarse</button>
                      <div *ngFor="let alert of alerts">
                          <ngb-alert [type]="alert.type"  [dismissible]="false" >
                              <div class="container">
                                  <div class="alert-wrapper">
                                      <button type="button" name="button" class="close" (click)="closeAlert(alert)">
                                        <span aria-hidden="true">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </span>
                                      </button>
                                      <div class="message">
                                          <ng-container *ngIf="alert.icon">
                                            <div class="alert-icon">
                                                <i class="now-ui-icons {{alert.icon}}"></i>
                                            </div>
                                          </ng-container>
                                          <strong>{{alert.strong}} </strong>{{ alert.message }}
                                      </div>
                                  </div>
                              </div>
                          </ngb-alert>
                      </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
