<div class="panel-header panel-header-lg" >
  <div class="container">
    <h6 data-background-color="white">Elija qué serie temporal quiere representar</h6>
    <div class="col-md-3">
      <div class="button-dropdown"></div>
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>

           <div ngbDropdownMenu>
             <a class="dropdown-header">Series temporales</a>
             <a class="dropdown-item" (click)="this.typeTimeSerie='simpsmoothing'">
               Suavizado exponencial
             </a>
             <a class="dropdown-item" (click)="this.typeTimeSerie='holt'">
               Método Holt
             </a>
             <a class="dropdown-item" (click)="this.typeTimeSerie='holt_winters'">
               Método Holt Winters
             </a>
           </div>
        </div>
    </div>
    <h6 data-background-color="">¿Qué tipo de esquema prefiere?</h6>
    <div class="col-md-3">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>

           <div ngbDropdownMenu>
             <a class="dropdown-header">Esquema</a>
             <a class="dropdown-item" (click)="this.schema = 'add'">Aditivo</a>
             <a class="dropdown-item" (click)="this.schema = 'mult'">Multiplicativo</a>
           </div>
      </div>
    </div>
    <h6 data-background-color="">Seleccione el periodo</h6>
    <div class="col-md-3">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>

           <div ngbDropdownMenu>
             <a class="dropdown-item" (click)="this.period = '1'">1</a>
             <a class="dropdown-item" (click)="this.period = '7'">7</a>
           </div>
      </div>
    </div>
    <h6 data-background-color="white">¿Cuántos valores quiere predecir?</h6>
    <div class="col-md-3">
      <div class="form-group">
            <input #num_periods type="text" class="form-control" placeholder="Num valores...">
      </div>
    </div>
    <div class="col-md-3">
        <button class="btn btn-primary btn-round btn-block " (click)="this.periods = num_periods.value; ngOnInit()">
          Calcular
        </button>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-7 col-md-9">
      <div *ngIf="this.drawchart">
        <div *ngIf="this.estacionaria==true; else elseBlock"><h5>La serie temporal es estacionaria</h5></div>
        <ng-template #elseBlock><h5>La serie temporal no es estacionaria</h5></ng-template>
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title">Serie temporal</h4>
            <div class="card-body">
              <div class="chart-area">
                <div *ngIf="chart">
                  <canvas  id="timeSerie">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title">Estacionalidad</h4>
            <div class="card-body">
              <div class="chart-area">
                <div *ngIf="chart">
                  <canvas  id="seasonal">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title">Tendencia</h4>
            <div class="card-body">
              <div class="chart-area">
                <div *ngIf="chart">
                  <canvas  id="trend">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-chart">
          <div class="card-header">
            <h4 class="card-title">Residuo</h4>
            <div class="card-body">
              <div class="chart-area">
                <div *ngIf="chart">
                  <canvas  id="residual">{{chart}}</canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
