<div class="page-header" filter-color="blue">
    <div class="page-header-image" style="background-image:url(assets/img/login.jpg)"></div>
    <div class="container">
        <div class="col-md-4 content-center">
            <div class="card card-login card-plain">
                <form class="form" method="" action="">
                    <div class="content">

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_single-02"></i></span>
                        </div>
                          <input #id type="text" class="form-control" placeholder="Id..." (focus)="focus=true" (blur)="focus=false" >
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">  <i class="now-ui-icons users_single-02"></i></span>
                        </div>
                          <input #since_date type="text" class="form-control" placeholder="Since date..." (focus)="focus=true" (blur)="focus=false" >
                      </div>

                      <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                        </div>
                          <input #until_date type="text" placeholder="Until date..." class="form-control" (focus)="focus1=true" (blur)="focus1=false"/>
                      </div>
                    </div>
                    <div class="footer text-center">
                        <a [routerLink]="['/examples/dashboard', id.value, since_date.value, until_date.value, is_tw]" class="btn btn-primary btn-round btn-lg btn-block" (click)=" id.value=''; since_date.value='';
      until_date.value=''">Analizar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
